.header{
    display: block;
    padding: 4rem;
    background-color: var(--color-black-2);
    width: 100%;
    height: 100%;
    color: var(--color-white);
}
.header_content{
    display: block;
    margin: 10rem auto;
    width: 100%;
}
.header_content_title{
    font-family: var(--font-black);
    font-size: 3rem;
    line-height: 1.5;
}
.header_content_desc{
    font-family: var(--font-bold);
    font-size: 1.3rem;
    color: var(--color-gray);
}
.Header_img{
    width: 100%;
}